.button6 {
    text-decoration: none;
    display: inline;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    text-align: center;
  }
  .button6:hover {
    background-position: right center;
  }

  .noBorder {
    border-collapse: collapse;
    border-spacing: 0;
    border: none transparent;
    border-radius: 0px;
    background: #CCC;
  }

