{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все жалобы</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://use.fontawesome.com/dff66f2cdf.js"></script>
    
</head>

<body style="background: aliceblue;">
    <div class="header" style="background: aliceblue;">
        <div class="container">
          {% block header %}
            {% include 'header.html' %}
          {% endblock %}
            <a href="{% url 'profile' %}"><br><h5>< Назад к профилю</h5></a>
            <div class="row">
                {% block content %}
                <div style="width: 100%; height: 500px; overflow: auto;">
                <table class="table">
                  <thead class="table-light">
                    <tr><th>От кого</th><th>Тема</th><th>Описание</th></tr>
                  </thead>
                  {% for el in cmpl %}
                    <tr class='success'>
                      <td>{{ el.user.username }}</td>
                      <td>{{ el.title }}</td>
                      <td class="des">{{ el.description }}</td>
                    </tr>
                  {% endfor %}
                  {% if count == 0 %}
                    <tr>
                      <td>В настоящее время вы не написали ни одной жалобы!</td>
                    </tr>
                  {% endif %}
                </table>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
<br><br>
    <!-----------       footer ------------>
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}
    <!-----js for toggle menu------>
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>


</body>

</html>
