{% load static %}
<!DOCTYPE html>
<html lang="en">


<body>

  <div class="pagination">
      <span class="step-links">
          {% if posts.has_previous %}
              <a href="?page=1&want={{ want }}">&laquo; Первая</a>
              <a href="?page={{ posts.previous_page_number }}&want={{ want }}">⟵</a>
          {% endif %}

          <span class="current">
              Стр. {{ posts.number }} из {{ posts.paginator.num_pages }}.
          </span>

          {% if posts.has_next %}
              <a href="?page={{ posts.next_page_number }}&want={{ want }}">⟶</a>
              <a href="?page={{ posts.paginator.num_pages }}&want={{ want }}">Последняя &raquo;</a>
          {% endif %}
      </span>
  </div>
</body>

</html>
