{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Положение</title>
    <link rel="stylesheet" href="{% static 'css/style_for_pj&prtn.css' %}">
    <script src="https://use.fontawesome.com/dff66f2cdf.js"></script>
</head>

<body>
    <div class="header" style="background: aliceblue;">
        <div class="container">
            {% block header %}
                {% include 'header.html' %}
            {% endblock %}
            <div class="row">
                <div class="col2">
                    <h1 style="margin-top: 12vh;">Положение
                    </h1>
                    </h3>(публичная оферта) о деятельности
                    Первого регионального центра социальной взаимопомощи в формате
                    Time bank "Дари Час"</h3>
                    <p>1. Основные положения
                    </p>
                    <p>1.1. Первый региональный центр социальной взаимопомощи в формате Time bank "Дари Час" (далее Банк
                        времени) – это некоммерческий проект, не предполагающий извлечения коммерческой прибыли и
                        получения денежного вознаграждения кем-либо из участников
                    </p>
                    <p>1.2. Цели проекта:</p>
                    <p>1.2.1. Повышение уровня и качества жизни представителей социально-уязвимых категорий населения.
                        Борьба с бедностью.</p>
                    <p>1.2.2. Развитие неденежной благотворительности. Вовлечение граждан в систему взаимоподдержки,
                        исключающей эффект "социального иждивенчества"</p>
                    <p>1.3. Юридическим оператором и координатором работы Банка времени является Автономная
                        некоммерческая организация Центр поддержки семей «Помощь рядом»</p>
                    <p>1.4. Технической платформой реализации Банка времени является веб-сайт <a
                            href="http://timebank72.ru">www.timebank72.ru</a></p>
                    <p>1.5. Участниками Банка времени могут быть юридические и физические лица, не подпадающие под
                        действие ГК РФ Статьи 576. Ограничения дарения</p>
                    <p>2. Термины и определения</p>
                    <p>2.1. Ба́нк вре́мени (англ. Time Bank) — это организация, учитывающая (фиксирующая) для своих
                        участников, сколько часов своего времени потратил тот или иной участник на оказание различных
                        услуг другим участникам (приход на счёт участника в банке времени) и сколько времени было
                        потрачено другими участниками на оказание потреблённых услуг тем или иным участником (расход со
                        счёта участника в банке времени)</p>
                    <p>2.2. ДоброЧас. Расчётной единицей для обмена всех видов услуг и предметов является 1 час
                        затраченного времени. Время всех участников оценивается одинаково, вне зависимости от содержания
                        выполненной работы, от образования, навыков и умений: 1 астрономический час = 1 учётной единице.
                    </p>
                    <p>2.3. Маркетплэйс Банка времени. Электронная площадка на технической платформе Банка времени на
                        которой расположена внесенная участниками Банка времени информация о товарах и услугах которые
                        они могут оказать за ДоброЧасы и фиксирующая процесс обмена.</p>
                    <p>2.4. Отзыв. Специальная кнопка подтверждающая успешное завершение обмена между участниками
                        (подразумевает возможность оставить дополнительный комментарий или жалобу)</p>
                    <p>3. Принципы работы Банка времени

                    </p>
                    <ul class="pad">
                        <li>Мы все обладаем ценными качествами</li>
                        <li>Некоторые работы не имеют цены</li>
                        <li>Помощь действует лучше, если она обоюдная
                        </li>
                        <li>Мы нужны друг другу в социальной сети
                        </li>
                        <li>Каждый человек имеет значение</li>
                        <li>Добровольность</li>
                        <li>Благотворительность</li>
                        <li>Взаимность</li>
                        <li>Практичность</li>
                        <li>Социальная направленность</li>
                    </ul>
                    <p>4. Примеры товаров и услуг для обмена которых можно использовать учет потраченного времени</p>
                    <p>4.1. Услуги</p>
                    <p>Участие в благотворительных, экологических и других социальных проектах СО НКО и сообществ</p>
                    <p>Создание/изготовление различных товаров, продуктов за исключением продуктов питания и медицинских
                        препаратов</p>
                    <p>Установка/передвижение бытовой техники, предметов интерьера, перенос грузов</p>
                    <p>Все виды работ, связанные с использованием информационных технологий (установка/администрирование
                        компьютерного оборудования и программного обеспечения, создание компьютерных программ и
                        продуктов)</p>
                    <p>Педагогическая помощь (репетирование, консультирование, инструктаж)</p>
                    <p>Услуги няни и социального работника</p>
                    <p>Юридическая помощь (консультирование, представление интересов в суде и т. д.)</p>
                    <p>Производство бытовых услуг (парикмахерские услуги, прачечные работы и т. д.)</p>
                    <p>Информационные услуги (поиск необходимой информации и литературы)</p>
                    <p>Переводческие работы (иностранные языки, сурдоперевод, начитывание текстов на аудионосители и т.
                        д.)</p>
                    <p>Услуги по организации/проведению мероприятий (семинаров, тренингов, праздников, выставок и т. д.)
                    </p>
                    <p>Транспортные и курьерские услуги</p>
                    <p>Уборка и ремонт зданий, помещений, территорий</p>
                    <p>4.2. Товары</p>
                    <p>Бывшие в употреблении, но находящиеся в хорошем состоянии одежда и другие вещи
                        Бытовая техника и предметы быта</p>
                    <p>Изделия ручной работы</p>
                    <p>Продукты длительного хранения с сохранением целостности упаковки</p>
                    <p>Продукты питания, произведенные человеком самостоятельно/p>
                    <p>Электронные гаджеты, компьютерная техника</p>
                    <p>4. Принципы функционирования Банка времени</p>
                    <p>4.1. Для участия в Банке времени юридическое или физическое лицо должно зарегистрировать учетную
                        запись на технической платформе проекта <a href="http://timebank72.ru">www.timebank72.ru</a></p>
                    <p>4.2. Регистрация аккаунта означает информированное согласие с правилами и принципами,
                        закрепленными в настоящем Положении, а также разрешение на использование личных данных участника
                        Банка времени в целях фиксации трансакций на технической платформе.</p>
                    <p>4.3. Для завершения регистрации, каждый участник должен внести в маркетплэйс Банка времени не
                        менее трех товаров или услуг, которые он может оказать в обмен на ДоброЧасы</p>
                    <p>4.4. Каждому участнику при регистрации зачисляется фиксированное количество ДоброЧасов, которое
                        он может обменять на услуги и товары представленные в маркетплэйсе Банка времени. Количество
                        начисляемых часов определяется юридическим оператором Банка времени</p>
                    <p>4.5. Дальнейшая деятельность участника Банка времени заключается в оказании и получении
                        безвозмездно передаваемых услуг и товаров, фиксация баланса которых осуществляется количеством
                        ДоброЧасов, начисляемых и списываемых со счета участника в личном кабинете.</p>
                    <p>5. Ограничения и особые условия</p>
                    <p>5.1. Участники могут размещать в маркетплэйсе Банка времени услуги и товары, рыночная стоимость
                        которых в денежном эквиваленте не превышает 10 000 рублей.</p>
                    <p>5.2. Запрещается проведение «фиктивных» обменов услуг и товаров на Доброчасы. При выявлении таких
                        случаев все задействованные участники выводятся из системы без права возвращения</p>
                    <p>5.3. Банк времени не несет ответственности за качество и соответствие действительности информации
                        о товарах и услугах размещаемых участниками на маркетплэйсе, но в случае поступления более трех
                        негативных отзывов, юридический оператор проекта имеет право создать комиссию, которая
                        уполномочена выносить решения по дальнейшей возможности таких участников оставаться в Банке
                        времени</p>
                    <p>5.4. Участие в Банки времени не предполагает никаких финансовых или иных юридических обязательств
                        между участниками и юридическим оператором и носит полностью добровольный характер</p>
                    <br><br>
                </div>
            </div>
        </div>
    </div>

    <!-----------       footer ------------>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
    <!-----js for toggle menu------>
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>


</body>

</html>