{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{% static 'css/profileS.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://use.fontawesome.com/dff66f2cdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    
</head>

{% block test %}
  {% include 'test.html' %}
{% endblock %}
<body>
    <div class="header" style="background: aliceblue;">
        <div class="container">
          {% block header %}
            {% include 'header.html' %}
          {% endblock %}
            <div class="row">
                <div class="col2">
                    <table class="user_table" style="width: 100%;">
                      <tr>
                       <td class="user_td" style="border: 0px; border-bottom: 10px solid aliceblue; background: #cadff4; color: #00008B">Пользователь</td>
                       <td class="user_td" style="border: 0px; border-left: 5px solid aliceblue; border-bottom: 10px solid aliceblue; background: #ECE9E0; color: #656665">{{request.user.username}}</td>
                     </tr>
                     {% if is_NKO == True %}
                     <tr>
                      <td class="user_td" style="border-left: 0px; border-bottom: 10px solid aliceblue; background: #cadff4; color: #00008B">Некоммерческая оранизация</td>
                      <td class="user_td" style="border: 0px; border-left: 5px solid aliceblue; border-bottom: 10px solid aliceblue; background: #ECE9E0; color: #656665">{{NKO_name}}</td>
                    </tr>
                     {% endif %}
                     <tr>
                       <td class="user_td" style="border-left: 0px; border-bottom: 10px solid aliceblue; background: #cadff4; color: #00008B">Электронная почта</td>
                       <td class="user_td" style="border: 0px; word-wrap:break-word; border-left: 5px solid aliceblue; border-bottom: 10px solid aliceblue; background: #ECE9E0; color: #656665">{{request.user.email}}</td>
                     </tr>
                     <tr>
                       <td class="user_td" style="border-left: 0px; border-bottom: 10px solid aliceblue; background: #cadff4; color: #00008B">Телефон</td>
                       <td class="user_td" style="border: 0px; border-left: 5px solid aliceblue; border-bottom: 10px solid aliceblue; background: #ECE9E0; color: #656665">{{phone}}</td>
                     </tr>
                     <tr>
                       <td class="user_td" style="border-left: 0px; border-bottom: 10px solid aliceblue; background: #cadff4; color: #00008B">Имя, фамилия</td>
                       <td class="user_td" style="border: 0px; border-left: 5px solid aliceblue; border-bottom: 10px solid aliceblue; background: #ECE9E0; color: #656665">
                        {{request.user.first_name}} {{request.user.last_name}}</td>
                     </tr>
                     <tr>
                       <td class="user_td" style="border-left: 0px; border-bottom: 10px solid aliceblue; background: #cadff4; color: #00008B">Баланс</td>
                       <td class="user_td" style="border: 0px; border-left: 5px solid aliceblue; border-bottom: 10px solid aliceblue; background: #ECE9E0; color: #656665">{{balance}}</td>
                     </tr>
                     <tr>
                      <td class="buttons"></td>
                    </tr>
                     <tr>
                      <td class="buttons" colspan="2" style="padding: 10px;"><a href="{% url 'logout' %}" class="button6">Выйти</a></td>
                    </tr>
                   </table>
                   <img src="{% static "images/main/token.png" %}" alt="">
                </div>
                <div class="col2">
                  <table>
                    <tr>
                      <td class="buttons">
                        <a href="{% url 'totaldonation' %}" class="gradient-button">
                          <h2>Передача ДоброЧасов</h2>
                        </a>
                      </td>
                    </tr>
                    {% if request.user.is_superuser == True %}
                    <tr>
                      <td class="buttons">
                        <a href="{% url 'transactions' %}" class="gradient-button">
                          <h2>Транзакции</h2>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="buttons">
                        <a href="{% url 'complaints' %}" class="gradient-button">
                          <h2>Жалобы</h2>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="buttons">
                        <a href="{% url 'product_views' %}" class="gradient-button">
                          <h2>Статистика</h2>
                        </a>
                      </td>
                    </tr>
                    {% endif %}
                    {% if request.user.is_superuser == False %}
                    <tr>
                      <td class="buttons">
                        <a href="{% url 'self_transactions' %}" class="gradient-button">
                          <h2>Мои переводы</h2>
                        </a>
                      </td>
                    </tr>
                    {% endif %}
                    <tr>
                      <td class="buttons">
                        <a href="{% url 'addcomplaint' %}" class="gradient-button">
                          <h2>Пожаловаться</h2>
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
            </div>
        </div>
    </div>

    <!-----------       footer ------------>
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}


</body>

</html>
