{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/dff66f2cdf.js"></script>
    <link rel="stylesheet" href="{% static 'css/searchS.css' %}">

</head>

<body style="background: aliceblue;">
    <div class="header" style="background: aliceblue;">
        <div class="container">
          {% block header %}
            {% include 'header.html' %}
          {% endblock %}
        </div>
    </div>

<div class="row">
  <form action="{% url 'search' %}" method="get">
  <!-- BEGIN SEARCH RESULT -->
  <div class="col-md-12">
    <div class="grid search">
      <div class="grid-body">
        <div class="row">
          <!-- BEGIN FILTERS -->
          <div class="col-md-3">
            <h2 class="grid-title"><i class="fa fa-filter"></i> Фильтры</h2>
            <hr>
            
            <!-- BEGIN FILTER BY CATEGORY -->
            <h4>Категория(товар/услуга):</h4>
            <input type="text" name="ct" list="catList">
            <datalist id="catList">
              <option value="Товар">
              <option value="Услуга">
            </datalist>
            <!-- END FILTER BY CATEGORY -->
            
            <div class="padding"></div>
            <br>
            <!-- Фильтр цены -->
            <h4>Цена:</h4>
            От
            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
              <input type="text" class="form-control" name="x">
            </div>
            <input type="hidden" id="dtp_input1" value="">
            
            До
            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
              <input type="text" class="form-control" name="y">
            </div>
            <input type="hidden" id="dtp_input2" value="">
            <!-- Фильтр цены -->
            
            <div class="padding"></div>
            
          </div>
          <!-- END FILTERS -->
          <!-- BEGIN RESULT -->
          <div class="col-md-9">
            <h2><i class="fa fa-file-o"></i> Поиск товаров и услуг</h2>
            <hr>
            <!-- BEGIN SEARCH INPUT -->
            <div class="input-group">
              <input name="q" type="text" class="form-control" value="" placeholder="Введите не менее двух символов">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
            <!-- END SEARCH INPUT -->
            <p>Показаны все результаты по запросу "{{ que }}"</p>
            
            <div class="padding"></div>
            
            <div class="row">
              <!-- BEGIN ORDER RESULT -->
              <div class="col-sm-6">
                <div class="btn-group">

                </div>
              </div>
              <!-- END ORDER RESULT -->
            </div>
            
            <!-- BEGIN TABLE RESULT -->
            {% block content %}
            <div class="table-responsive" style="height: 700px; overflow: auto;">
              <table class="table table-hover">
                <tbody>
                {% for el in object_list %}
                <tr>
                  <td class="image">{% if el.phot != NULL %}<img src="{{ el.phot.url }}" alt="">{% endif %}</td>
                  <td class="product"><strong>{{ el.name }}</strong><br>{{ el.description|slice:":50" }}...</td>
                  <td class="price text-right">
                    <h6>
                    {% if el.price == 1  %}{{ el.price }} доброчас{% endif %}
                    {% if el.price == 2 or el.price == 3 or el.price == 4 %}{{ el.price }} доброчаса{% endif %}
                    {% if el.price == 0 or el.price > 4 %}{{ el.price }} доброчасов{% endif %}
                    </h6>
                  </td>
                  <td><a href="{% url 'advertisement' el.id %}?prod={{ el.name }}" class="btn btn-primary">Просмотр</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
            {% endblock %}
            <!-- END TABLE RESULT -->
            
          </div>
          <!-- END RESULT -->
        </div>
      </div>
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</form>
</div>

    

    <!-----------       footer ------------>
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}
    <!-----js for toggle menu------>
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>


</body>

</html>
