{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мои транзакции</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/dff66f2cdf.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/for_button6.css' %}">
</head>

<body style="background: aliceblue;">
  <div class="header" style="background: aliceblue;">
    <div class="container">
          {% block header %}
            {% include 'header.html' %}
          {% endblock %}
      <a href="{% url 'profile' %}"><br><h5>< Назад к профилю</h5></a>
      <div class="row">
        {% block content %}
        <div style="width: 100%; height: 500px; overflow: auto;">
        <table class="table">
          <thead class="table-light">
            <tr>
              <th>От кого</th>
              <th>Кому</th>
              <th>Сколько</th>
              <th>Время перевода</th>
            </tr>
          </thead>
          <tbody>
            {% if request.user.is_superuser == True %}
            {% for el in transactions %}
            <tr class='success'>
              <td>{{ el.user11 }}</td>
              <td>{{ el.user22 }}</td>
              <td>{{ el.colvo1 }}</td>
              <td>{{ el.time1 }}</td>
              <td class="noBorder"><a href="cancel/{{el.id}}" class="button6">Отменить</a>
            </tr>
            {% endfor %}
            {% endif %}
            {% if request.user.is_superuser == False %}
            {% for el in self_transactions %}
            <tr class='success'>
              <td>{{ el.user11 }}</td>
              <td>{{ el.user22 }}</td>
              <td>{{ el.colvo1 }}</td>
              <td>{{ el.time1 }}</td>
            </tr>
            {% endfor %}
            {% endif %}
          {% if count == 0 %}
          <tr>
            <td>В настоящее время вы не совершили не совершали переводов!</td>
          </tr>
          {% endif %}
          </tbody>
        </table>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
  <br><br>
  <!-----------       footer ------------>
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}
  <!-----js for toggle menu------>
  <script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle() {
      if (MenuItems.style.maxHeight == "0px") {
        MenuItems.style.maxHeight = "200px"
      }
      else {
        MenuItems.style.maxHeight = "0px"
      }
    }
  </script>


</body>

</html>