{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<body>
<head>
  <link rel="stylesheet" href="{% static 'css/stylelogin2.css' %}" />
  <style>
    a.blank {
      font-weight: bold;
      color: blue;
    }
  </style>

</head>

<div class="container" id="container">
  <div class="form-container">
    <h3 class = "vx" style="left: 61px; top: 23px; height: 19px;"><p class="shadow-text"><a href="{% url 'ads' %}">< Назад</a></h3>
    <h1 class="pr" style="width: 274px; height: 36px; left: 201px; top: 183px;">Продажа</h1>
    <form method="POST">
    {% csrf_token %}
        <label class="pr1" style="width: 411px; height: 38px; left: 51px; top: 322px; color: black;">За какую цену</label><input type="number" name = "price" value="{{prod.price}}" /><br><br><br>
        <label class="pr1" style="width: 411px; height: 38px; left: 51px; top: 436px; color: black;">Кому</label><input type="text" name = "to_who" value="{{prod.to_who}}" /><br><br><br>
    <button type="submit" class="button4" style="padding: 21px 105px;">Продать</button>
  </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">

    </div>
  </div>
</div>

</body>
</html>
