{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Партнёры</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://use.fontawesome.com/dff66f2cdf.js"></script>
</head>

<body style="background-color: aliceblue;">
    <div class="header" style="background: aliceblue;">


        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'imagesM/Logo.jpg' %}" width="125px">
                </div>
                <nav>
                  <ul id="MenuItems">
                    <li><a href="{% url 'index_in' %}" style="color: black;">Главная</a></li>
                    <li><a href="{% url 'polojenie_in' %}" style="color: black;">О веб-сайте</a></li>
                    <li><a href="{% url 'search' %}" style="color: black;">Поиск</a></li>
                    <li><a href="{% url 'ads' %}" style="color: black;">Мои объявления</a></li>
                    <li><a href="{% url 'profile' %}" style="color: black;">Личный кабинет</a></li>
                  </ul>
                </nav>
                <img src="{% static 'imagesM/cart.png' %}" width="30px" height="30px">
                <img src="{% static 'imagesM/menu.png' %}" class="menu-icon" onclick="menutoggle()">
            </div>
            <!-- Brands -->
            <div class="brands">
                <div class="small-container">
                    <h2 style="margin-top: 12vh;" class="title">Наши партнёры</h2>
                    <div class="row">
                        <div class="col4"><img src="{% static 'imagesM/vtb.png' %}" alt="brand">

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <!-----------       footer ------------>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col1">
                    <h3>О приложении</h3>
                    <p>В будущем будет добавлено приложение, скачиваемое по этим ссылкам</p>
                    <div class="app-logo">
                        <img src="{% static 'for_login/images/f/play-store.png' %}">
                        <img src="{% static 'for_login/images/f/app-store.png' %}">
                    </div>
                </div>
                <div class="footer-col2">
                    <img src="{% static 'for_login/images/f/Logo.jpg' %}">
                    <p>Мы стремимся сделать услуги доступными для всех</p>
                </div>
                <div class="footer-col3">
                    <h3>Полезные ссылки</h3>
                    <ul>
                        <li><a href="{% url 'polojenie_in' %}">Положение</a></li>
                        <li><a href="{% url 'partner_in' %}">Партнеры</a></li>
                    </ul>
                </div>
                <div class="footer-col4">
                    <h3>Следуйте за нами</h3>
                    <ul>
                        <li><a href="https://vk.com/darmarka72">VK</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">&copy; 2022 TimeBank</p>
        </div>
    </div>
    <!-----js for toggle menu------>
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>


</body>

</html>
