{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{% static 'css/stylelogin2.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <style>
    a.blank {
      font-weight: bold;
      color: blue;
    }
  </style>


</head>
<body>
<div class="container" id="container">
    <form method="POST">
      <h3 class = "vx" style="left: 61px; top: 23px; height: 19px;"><p class="shadow-text"><a href="{% url 'profile' %}">< В личный кабинет</a></h3>
      <center><h2 style="width: 374px; height: 36px;">Передача ДоброЧасов</h2></center>
      <center><img class="gi" src="{% static 'images/m.jpg' %}" style="margin-left: -20px;  margin-top: -5px;"></center>
    {% csrf_token %}
    <br>
        <input type="text" style="color: #1565D8;" name="username" placeholder="Введите имя получателя">
        <input type="text" name="amount" placeholder="Введите количество">
        <br>
        <input type="submit" style="padding: 21px 105px; background: #651FFF; border-radius: 5px; color: white; font-weight: bold;" value="☑ Отправить">
    </form>
</div>

</body>
</html>
